* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #0e4f1f;
  color: #fff;
  padding: 10px 16px;
  border: .5px solid #0e4f1f;
  border-radius: 3px;
  font: inherit;
  font-weight: bold;
}

.button:hover,
.button:active {
  cursor: pointer;
  background-color: #fff;
  color: #0e4f1f;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.main-nav,
.main-nav__item,
.main-header > div {
  display: inline-block;
}

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header > div {
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.main-nav {
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 80px);
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin: 0 15px;
  font-weight: bold;
}

.main-nav__item a {
  padding: 3px 0;
  text-decoration: none;
  color: #0e4f1f;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.main-nav__item--cta a {
  color: #fff;
  background-color: #ff1b68;
  padding: 8px 15px;
  border-radius: 5px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background-color: #fff;
  border: none;
}

#product-overview {
  background-image: url('../img/freedom.jpg');
  height: 528px;
  padding: 10px;
  margin-bottom: 48px;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

#plans {
  margin-bottom: 48px;
}

.plan {
  background-color: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan__list li {
  margin: 8px 0;
}

.plan--highlighted {
  background-color: #19b84c;
  color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan--highlighted .plan__title {
  color: #fff;
}

.plan__badge {
  background-color: #fff;
  color: #19b84c;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
  border-radius: 3px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

#core-features {
  background-color: #ff1b68;
  color: #fff;
  padding: 20px;
  margin-bottom: 48px;
}

#core-features .section-title {
  color: #fff;
  margin: 32px;
}

.core-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.core-feature {
  display: inline-block;
  width: 30%; /* width at 30% because inline-block contains white space that also has a width and can cause line breaks */
  vertical-align: top;
}

.core-feature__image {
  height: 120px;
  width: 120px;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0 auto;
}

.core-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.main-footer {
  background-color: #000;
  padding: 30px;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 15px;
}

.main-footer__link a {
  color: #fff;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}