body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-nav__items {
  list-style: none;
}

.main-nav__item {
  display: inline-block;
}

#product-overview {
  background: #ff1b68;
  height: 528px;
  padding: 10px;
}

.section-title {
  color: #2ddf5c;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

/* h1 {
  font-family: sans-serif;
} */