* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.button {
  background-color: #fccd22;
  color: #fff;
  padding: .625rem 1rem;
  border: .5px solid #fccd22;
  border-radius: 3px;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #fff;
  color: #4d5fc8;
}

.section-title {
  color: #4d5fc8;
  text-align: center;
}

.main-nav,
.main-nav__item,
.main-header > div {
  display: inline-block;
}

.main-header {
  background-color: #4d5fc8;
  width: 100%;
  padding: .75rem 1rem;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 4px 1.25px rgba(0, 0, 0, .3);
}

.main-header > div {
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  display: none;
}

.toggle-button:focus {
  border: none;
}

.toggle-button__bar {
  width: 100%;
  height: .25rem;
  background-color: #fff;
  display: block;
  margin: .4rem 0;
}

.main-header__brand {
  color: #fff;
  font-weight: bold;
  height: 2.5rem;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img {
  height: 100%;
}

.main-nav {
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 122px);
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin: 0 1rem;
  font-weight: bold;
}

.main-nav__item a,
.mobile-nav__item a {
  padding: .2rem 0;
  text-decoration: none;
  color: #fff;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: #fff;
  background-color: #fccd22;
  padding: .375rem 1rem;
  border-radius: 5px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #fccd22;
  background-color: #fff;
  border: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 40%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100vh;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
  color: #4d5fc8;
}

.main-footer {
  background-color: #000;
  padding: 1.875rem;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__link a {
  color: #fff;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
  display: none;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background-color: #4d5fc8;
  padding: 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.502);
}

.modal__title {
  text-align: center;
  margin: 0 0 0 1rem 0;
  color: #fff;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  background-color: #fccd22;
  text-decoration: none;
  color: #fff;
  padding: .625rem 1rem;
  border: .5px solid #fccd22;
  border-radius: 3px;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background-color: #fff;
  color: #4d5fc8;
}

.modal__action--negative {
  background-color: #b41515;
  border-color: #b41515;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background-color: #fff;
  color: #b41515;
}

.show {
  display: block;
}